*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Orelega One', cursive;
}

body {
    background: lightgrey;
}
header {
    background: white;
    width: 100%;
}

.logo-img {
   width: 75px;
   vertical-align: middle;
   padding-left: 10px;
   padding-bottom: 10px;
   padding-top: 10px;
}

.text {
    font-size: 50px;
    vertical-align: middle;
}

.add {
    width: 80%;
    background: white;
    margin:0 auto ;
    margin-bottom: 2px;
} 

.first-button {
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 10px;
    background: cornflowerblue;
    color: white;
    padding: 1%;
    border-radius: 15%;
}

.second-button {
    margin-bottom: 10px;
    margin-top: 10px;
    background: white;
    color: lightgrey;
    padding: 1%;
    border-radius: 15%;
}
.todolist {
    width: 80%;
    height: 650px;
    background: white;
    margin:auto ;
    margin-bottom: 20px;
    padding-left: 70px;
}
 
.item{
    padding-top: 20px;
    font-size: 30px;
}

ul {list-style: none;
}

.checkbox {
    background: white;
    color: green;
    border-radius: 100%;
    border: green solid 1px;
}
.crossbox {
    background: white;
    color: red;
    border-radius: 100%;
    border: red solid 1px;
}

.oggettolista {
    font-size: 30px;
}

.tagblu {
    background: cornflowerblue;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px;
}

.tagviola {
    background: rgb(167, 83, 167);
    color: white;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px;
}

.recruiting{
    background:green;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px;
}

.mobile {
    background:orange;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px;
}

.website {
    background:purple;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px;
}

.sales {
    background: rgb(65, 129, 65);
    color: white;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px;
}


